[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pyyaml = "*"
click = "*"
requests = "*"
python-gnupg = "*"

[dev-packages]
"flake8" = "*"
twine = "*"
wheel = "*"
setuptools = "*"
pytest = "*"
pytest-cov = "*"
autopep8 = "*"
pipenv-setup = "*"

[requires]
python_version = "3.8"
