[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-dotenv = "*"
pyyaml = "*"
click = "*"
colorama = "*"


[dev-packages]

"flake8" = "*"
twine = "*"
wheel = "*"
setuptools = "*"
pytest = "*"


[requires]

python_version = "3.6"
